* {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    background-color: #081b31;
    color: #fff;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
}

.choices {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-evenly;
    align-items: center;
    /* gap: min(2rem, 4vw); */
    margin-top: min(6rem, 9vw);
}

.choice {
    height: min(16rem, 31vw);
    width: min(16rem, 31vw);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.choice:hover {
    border: 2px solid black;
    /* opacity: 0.5; */
    background-color: #081b31;
    transform: scale(1.1);
}

.choice:active {
    opacity: 0.5;
    transform: scale(0.98);
}

img {
    height: min(15rem, 30vw);
    width: min(15rem, 30vw);
    object-fit: cover;
    border-radius: 50%;
    pointer-events: none;
}

.score-board {
    height: 5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: min(15rem,25vw);
    margin-top: min(5rem, 9vw);
}

.score {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

.score p:first-child {
    font-size: 2rem;
    font-weight: bold;
}

.score p:last-child {
    font-size: 1.5rem;
    font-weight: bold;
}  

.msg-container {
    height: 6rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: min(2.5rem, 6vw);
}

.msg-container p {
    display: inline;
    font-size: min(2rem, 5vw);
    font-weight: bold;
    background-color: #000000;
    color: #fff;
    border-radius: 1rem;
    text-align: center;
    line-height: 40px;
    padding: 1.5vw;
}


